@model List<DidYouFall.Repository.Server>
@section plugins
{
    @System.Web.Optimization.Scripts.Render("~/bundles/Js/Plugins/Countdown")
    <script>
        Number.prototype.padLeft = function (base, chr) {
            var len = (String(base || 10).length - String(this).length) + 1;
            return len > 0 ? new Array(len).join(chr || '0') + this : this;
        }

        $("#Hosts > tr").each(
              function (i, el) {
                  var $host = $(this).find(".Host");
                  var $lastCheck = $(this).find(".LastCheck");
                  var $timer = $(this).find(".Timer").children();
                  var $status = $(this).find(".Status").children();
                  var $latency = $(this).find(".Latency").children();
                  var $response = $(this).find(".Response").children();
                  var plusminutes = parseInt($timer.html());
                  var now = new Date(Date.now());
                  now = now.setMinutes(now.getMinutes() + plusminutes);

                

                  setInterval(function () {
                      $timer.html(countdown(now).toString());
                      if ($timer.html() == "1 ") {
                          var url = "/server/CheckOneServer?host=" + $host.html().toString();
                          $.getJSON(url, function (data) {
                              if (data.Status.toString() == "Online") {
                                  $status.html(data.Status.toString()).removeClass().addClass('badge bg-green');
                                  $latency.html(data.Latency.toString() + " millesec").removeClass();
                                  $response.html(data.HostResponse.toString()).removeClass();

                              }
                              else {
                                  $status.html(data.Status.toString()).removeClass().addClass('badge bg-red');
                                  $latency.html("Offline").removeClass().addClass('badge bg-red');
                                  $response.html("Offline").removeClass().addClass('badge bg-red');
                              }

                          });
                          now = new Date(Date.now());
                          //formated Date
                          var d = new Date,
                       dformat = [d.getDate().padLeft(),
                                  (d.getMonth() + 1).padLeft(),
                                   d.getFullYear()].join('/') +
                                  ' ' +
                                 [d.getHours().padLeft(),
                                   d.getMinutes().padLeft(),
                                   d.getSeconds().padLeft()].join(':');

                          $lastCheck.html(dformat)
                          now = now.setMinutes(now.getMinutes() + plusminutes);

                     

                          $timer.html(countdown(now).toString());
                      }
                  }, 1000);
              });
    </script>
}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Servidores</h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Host</th>
                    <th>UpTime</th>
                    <th style="width: 80px">Status</th>
                    <th style="width: 80px">Latencia</th>
                    <th>Ip Resposta</th>
                    <th style="width: 200px">Ultima Checagem</th>
                    <th style="width: 100px">Proxima Checagem</th>
                </tr>
            </thead>
            <tbody id="Hosts">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td class="Host">@item.Host</td>
                        <td>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                            </div>
                        </td>
                        <td class="Status">
                            <span class="badge bg-gray">
                                @item.LastStatus
                            </span>
                        </td>
                        <td class="Latency">
                            <span class="badge bg-gray">
                                Não Verificado
                            </span>
                        </td>
                        <td class="Response">
                            <span class="badge bg-gray">
                                Não Verificado
                            </span>
                        </td>
                        <td class="LastCheck">
                            @item.LastCheck
                        </td>
                        <td class="Timer"><span>@((int)item.CheckTime)</span></td>
                    </tr>
                }

            </tbody>
        </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
</div>