@model List<DidYouFall.Repository.AgentInfo>
@{
    int count = 0;
}
@section plugins
{
    @System.Web.Optimization.Scripts.Render("~/Js/Plugins/Sparkline")
    @System.Web.Optimization.Scripts.Render("~/Js/Plugins/DataTable")
}
@section cssplugins
{
    <!--CssPlugin-->
    @System.Web.Optimization.Styles.Render("~/Css/Plugins/DataTable")
    <!--CssPluginfim-->
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Computadores </h3>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Computador
                    </th>
                    <th>
                        Uso da CPU
                    </th>
                    <th>
                        Memoria Total
                    </th>
                    <th>
                        Uso da Memória
                    </th>
                    <th>
                        Ultima Checagem
                    </th>
                    <th>
                        Drivers
                    </th>
                    <th>
                        Serviços
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ComputarName</td>
                        <td>@item.CpuUsage</td>
                        <td>@item.GetTotalMemoryInMiB MB</td>
                        <td>
                            <div class="RamPie">
                                @(item.GetTotalMemoryInMiB - item.PhysicalAvailableMemoryInMiB),@item.PhysicalAvailableMemoryInMiB
                            </div>
                        </td>
                        <td>@item.LastCheck</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>
                        Computador
                    </th>
                    <th>
                        Uso da CPU
                    </th>
                    <th>
                        Memoria Total
                    </th>
                    <th>
                        Uso
                    </th>
                    <th>
                        Ultima Checagem
                    </th>
                    <th>
                        Drivers
                    </th>
                    <th>
                        Serviços
                    </th>
                </tr>
            </tfoot>
        </table>
    </div><!-- /.box-body -->
</div><!-- /.box -->
