@model IList<DidYouFall.Repository.AgentInfo>
@{
    int count = 0;
}




@foreach (var item in Model)
    {
        if (count == 0)
        {
            @Html.Raw("<div class=\"col-lg-12\">")
        }

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="col-lg-12">
                                <h3>
                                    @item.ComputarName
                                </h3>
                                <input type="hidden" class="IP" value="IP" />
                                <label>
                                    Uso da CPU: @item.CpuUsage
                                </label>
                                <div class="form-group">
                                    Memoria
                                    <div class="sparkline" data-type="pie" data-offset="90" data-width="100px" data-height="100px">
                                        @item.GetTotalMemoryInMiB,@item.PhysicalAvailableMemoryInMiB
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label>Memoria Disponivel:</label><p> @item.PhysicalAvailableMemoryInMiB MBs</p>
                                </div>

                                <div class="form-group">
                                    <label>Ultima Verificação:</label>
                                    <p class="lastCheck">@item.LastCheck</p>
                                </div>
                                <label>Status:</label>
                                <span class="Status badge bg-light-blue">Não verificado</span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg-12">
                                <div class="icon" style="position:relative;float:right;">
                                    <i class="fa fa-desktop"></i>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="ip btn bg-light-blue" style="float:right;">
                                    Verificar Status
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="small-box-footer">
                    Portas
                </div>
                <div class="inner">
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="row">
                        @using (Html.BeginForm("AddPorts", "Server", FormMethod.Post))
                        {
                            <input type="hidden" name="server" value="@item.Id" />
                            <div class="col-lg-3">
                                <input type="text" name="port" class="form-control" placeholder="8080" />
                            </div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn-success btn-sm" value="Add" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
                        count++;
                        if (count == 3)
                        {
                            @Html.Raw("</div>")
                            count = 0;
                        }

    }

@section plugins
{
    @System.Web.Optimization.Scripts.Render("~/Js/Plugins/Sparkline")
    <script>
        $(".sparkline").each(function () {
            var $this = $(this);
            $this.sparkline('html', $this.data());
        });

        /* SPARKLINE DOCUMENTAION EXAMPLES http://omnipotent.net/jquery.sparkline/#s-about */
        drawDocSparklines();
        $('.sparkpie').sparkline('html', { type: 'pie', height: '1.0em' });
    </script>
}





